__pycache__/
*.py[cod]

/logs
/experiments
/t2v_enhanced/.mlflow
/t2v_enhanced/logs
/t2v_enhanced/slurm_logs
/t2v_enhanced/results

t2v_enhanced/.mlflow
t2v_enhanced/logs
t2v_enhanced/slurm_logs
t2v_enhanced/results